#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Nav {
  display: flex;
justify-content: space-between;
border: solid 2px black;
padding: 10px;
background-color: #b80000;;
font-style: italic;
color: black;
font-weight: bolder;

}

body {

  background-color: antiquewhite(152, 152, 122)
  ;
}

img {
  height: 40%;
  width: 40%;
}

.article-list {
list-style: none;
}

.article-card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  background-color:#b80000;;
}

.article-by-id {
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  background-color:#b80000;;

}

.comment-list {
  list-style: none;

}

.comment-card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 30px;
  margin: 20px;
  background-color:whitesmoke;

}



a:link {
  color: black; 
  background-color: transparent; 
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.vote-btn {
 margin-left: 20px;
 margin-right: 20px;
  
}